.scrollable-list {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.body-team-builder {
    padding-top: 50px;
}

.body-game {
    padding-top: 100px;
}

.body-results {
    padding-top: 60px;
}

.team-score {
    font-size: 16px;
    text-align: center;
}

span.glyphicon {
    font-size: 1.2em;
}

.team0 {
    color: #08f;
}

.team1 {
    color: #ff4000;
}

.team2 {
    color: #e500ff;
}

.team3 {
    color: #00ff26;
}
