body {
    color: hsla(240, 5%, 34%, 1);
}

.stacked-para {
    padding: 10px 15px 0 15px;
}

/* -------
team builder
------- */

.body-team-builder {
    padding-top: 100px;
}

.opponents-group {
    background-color: hsla(153, 0%, 75%, .1);
}

.scrollable-list {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}


/* -------
play game
------- */

.body-game {
    padding-top: 160px;
}

span.glyphicon {
    font-size: 1em;
}

/* results page link */

#flag {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: hsl(256, 81%, 52%);
    width: 100%;
    z-index: 1200;
}

.results-link {
    padding: .2em;
    text-align: center;

    a {
        color: #fff;
    }
}

.play-team-scoreboard {
    text-align: right;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 1.8em 0 .8em 0;
}

.play-team-scoreboard-inline {
  margin-top: 2em;
  padding: 1em;
  height: 30px;
  color: hsla(0, 0%, 100%, 1);

  &[data-score='0']{
    opacity: .15;
  }
}

/* score bar */

#scores {
    top: 30px;
}


/* -------
results
------- */

.body-results {
    padding-top: 60px;
}


/* -------
navbar
------- */

.navbar-form {
    margin-top: 21px;
}


/* -------
team name labels
------- */

.builder-team-name {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsla(240, 5%, 34%, 1);
}

.play-team-name {
    text-transform: uppercase; 
    letter-spacing: 1px;
    color: hsla(240, 5%, 34%, 1);
}

.results-team-name {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsla(240, 5%, 34%, 1);
    margin-top: 15px;
    margin-bottom: 10px;
}


/* -------
industry name labels
------- */

.builder-industry-name {
    margin-top: 4px;
    font-size: 14px;
}

.results-industry-name {
    margin-top: 4px;
    font-size: 18px;
}


/* -------
team score labels
------- */

.play-team-score {
    font-size: 36px; 
    font-weight: bold;
    margin-bottom: -6px;
}


/* -------
industry score labels
------- */

.results-industry-score {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}


/* -------
team colors
------- */

.team0 {
    color: hsla(287, 100%, 57%, 1);
    &.play-team-scoreboard-inline {
        background-color: hsla(287, 100%, 57%, 1);
        color: hsla(0, 0%, 100%, 1);
        font-size: 20px;
    }
}

.team1 {
    color: hsla(225, 100%, 55%, 1);
    &.play-team-scoreboard-inline {
        background-color: hsla(225, 100%, 55%, 1);
        color: hsla(0, 0%, 100%, 1);
        font-size: 20px;
    }
}

.team2 {
    color: hsla(163, 100%, 46%, 1);
    &.play-team-scoreboard-inline {
        background-color: hsla(163, 100%, 46%, 1);
        color: hsla(0, 0%, 100%, 1);
        font-size: 20px;
    }  
}

.team3 {
    color: hsla(195, 81%, 52%, 1);
    &.play-team-scoreboard-inline {
        background-color: hsla(195, 81%, 52%, 1);
        color: hsla(0, 0%, 100%, 1);
        font-size: 20px;
    }   
}


/* -------
results industry visualization
------- */
.axis path,
.axis line {
    fill: none;
    stroke: none;
}

.vote-vis-legend {
    margin-bottom: 5px;
}

.vote-vis-with {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    margin-left: 15px;

    &.team0 {
        background-color: hsla(287, 100%, 57%, 1);
    }
    &.team1 {
        background-color: hsla(225, 100%, 55%, 1);
    }
    &.team2 {
        background-color: hsla(163, 100%, 46%, 1);
    }
    &.team3 {
        background-color: hsla(195, 81%, 52%, 1);
    }
}

.vote-vis-against {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #454;
    margin-left: 15px;

    &.team0 {
        background-color: hsla(287, 100%, 79%, 1);
    }
    &.team1 {
        background-color: hsla(225, 100%, 78%, 1);
    }
    &.team2 {
        background-color: hsla(163, 100%, 75%, 1);
    }
    &.team3 {
        background-color: hsla(195, 81%, 76%, 1);
    }
}

.vote-vis-inaction {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #bbb;
    margin-left: 15px;

    &.team0 {
        background-color: hsla(287, 0%, 90%, 1);
    }
    &.team1 {
        background-color: hsla(287, 0%, 90%, 1);
    }
    &.team2 {
        background-color: hsla(287, 0%, 90%, 1);
    }
    &.team3 {
        background-color: hsla(287, 0%, 90%, 1);
    }
}
