.scrollable-list {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.body-team-builder {
    padding-top: 50px;
}

.body-game {
    padding-top: 100px;
}

.body-results {
    padding-top: 60px;
}

.team-score {
    text-align: right;
    letter-spacing: 1px;
    font-size: 14px;

}

.score-num {
    font-size: 28px; 
    font-weight: bold;
}

.score-name {
    text-transform: uppercase; 
    letter-spacing: 1px;
    color: #53535c;
}

span.glyphicon {
    font-size: 1em;
}

.team0 {
    color: #08f;
}

.team1 {
    color: #ff4000;
}

.team2 {
    color: #e500ff;
}

.team3 {
    color: #00ff26;
}
