
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="nav">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-form navbar-right">
                        <input type="submit" class="btn btn-primary" ng-click="game.finishGame()" value="Results" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" ng-repeat="team in gameModel.teams">
                    <li class="team-score" ng-class="{team{{team.id}}: true}">
                        <div class="score-num">{{game.scoreTeam(team.id)}}</div>
                        <div class="score-name">{{team.name}}</div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="body-game container">
    <div class="row">
        <div class="list-group col-sm-12">
                <li class="list-group-item stacked-para" ng-repeat="event in gameModel.timeline">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                <span class="glyphicon" title="{{gameModel.bills[event.aid].action}}" ng-class="game.glyphForBill(event.aid, event.action)"></span>
                                <a href="{{game.linkForBill(event.aid)}}" target="_blank">{{gameModel.bills[event.aid].title}}</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{gameModel.bills[event.aid].summary}}</p>
                            <br>
                            <p class="sponsor">Sponsor: <a href="{{gameModel.bills[event.aid].sponsor.link}}" target="_blank">{{gameModel.bills[event.aid].sponsor.name}}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 team-score team-score-inline" data-score="{{game.scoreEventForTeam(event, team.id)}}" ng-repeat="team in gameModel.teams" ng-class="{team{{team.id}}: true}">
                            <p class="the-score">{{(score = game.scoreEventForTeam(event, team.id)) > 0 ? score : ''}}</p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
