
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="nav">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-form navbar-right">
                        <input type="submit" class="btn btn-primary" ng-click="game.finishGame()" value="Results" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" ng-repeat="team in gameModel.teams">
                    <li class="team-score" ng-class="{team{{team.id}}: true}">
                        <div>{{team.name}}</div>
                        <div>{{game.scoreTeam(team.id)}}</div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="body-game container">
    <div class="row">
        <div class="list-group col-sm-12">
                <li class="list-group-item" ng-repeat="event in gameModel.timeline">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>
                                <span class="glyphicon" ng-class="game.glyphForBill(event.aid, event.action)"></span>
                                {{gameModel.bills[event.aid].prefix}} {{gameModel.bills[event.aid].num}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{game.linkForBill(event.aid)}}" target="_blank">{{game.linkForBill(event.aid)}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 team-score" ng-repeat="team in gameModel.teams" ng-class="{team{{team.id}}: true}">
                            {{(score = game.scoreEventForTeam(event, team.id)) > 0 ? score : ''}}
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
