<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="nav navbar-form navbar-right">
            <input type="submit" class="btn btn-primary" ng-click="teamBuilder.playGame()" value="Start Game" />
        </div>
    </div>
</nav>

<div class="body-team-builder container">
    <div class="row">

        <div class="col-sm-6">

            <div class="row">
                <h2>Build Your Team</h2>
            </div>
            
    
            <div class="row">
                <div class="col-sm-12">
                    <h3>Groups on this team</h3>
                </div>

                <div class="col-sm-6">
                    <div class="list-group">
                        <li class="list-group-item" ng-repeat="industry in teamBuilder.team.industries.slice(0, Math.ceil(teamBuilder.team.industries.length / 2))">
                            <div>
                                {{industry}} <a class="close" ng-click="teamBuilder.toggleIndustryInTeam(industry)">&times;</a>
                            </div>
                        </li>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="list-group">
                        <li class="list-group-item" ng-repeat="industry in teamBuilder.team.industries.slice(Math.ceil(teamBuilder.team.industries.length / 2), teamBuilder.team.industries.length)">
                            <div>
                                {{industry}} <a class="close" ng-click="teamBuilder.toggleIndustryInTeam(industry)">&times;</a>
                            </div>
                        </li>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Select Groups</h3>
                </div>

                <div class="col-sm-12">
                    <div class="list-group scrollable-list">
                        <a class="list-group-item" ng-repeat="(industryId, industryName) in gameModel.industries" ng-class="{'active':teamBuilder.industryInTeam(industryId)}" ng-click="teamBuilder.toggleIndustryInTeam(industryId)">
                            {{industryName}}
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="list-group col-sm-6">
            <h2>Opponents</h2>

            <div class="list-group-item" ng-repeat="team in gameModel.teams">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>{{team.name}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="industry in team.industries.slice(0, Math.ceil(team.industries.length / 2))">
                                {{industry}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="industry in team.industries.slice(Math.ceil(team.industries.length / 2), team.industries.length)">
                                {{industry}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>