<div class="body-results container">
    <div class="row">

        <div class="alert alert-info" role="alert">This is a prototype, built to expolore the possibilities for a lobbying-themed fantasy football-like game that would run during sessions of Congress. <a href="https://github.com/WestleyArgentum/influence-game" target="_bland">Read more here.</a></div>

        <div class="col-sm-12 game-title">
            A Game About Influence in Congress
        </div>

        <div class="col-sm-12 game-subtitle">
            Many will play, some will see their priorities codified into law.
        </div>

    </div>
    <div class="row game-description">

        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p>
                Build a team of the groups that you think will most effectively lobby Congress, explore the bills they took positions on, and see how they did against others.
            </p>
        </div>
        <div class="col-sm-2"></div>

    </div>
    <div class="row start-game-buttons">

        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-lg" ng-click="titleScreen.play112th()" value="Play 112th Congress" />
        </div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-lg" ng-click="titleScreen.play113th()" value="Play 113th Congress" />
        </div>
        <div class="col-sm-3"></div>

    </div>
</div>
