<div class="body-results container">
    <div class="row game-title">

        <div class="col-sm-12">
           Fantasy K Street 
        </div>

    </div>
    <div class="row game-description">

        <div class="col-sm-12">
            <p>
                A game about influence in the US Congress. Build a team out of the groups that you think will most effectively lobby Congress, then explore the positions that your groups made and see how they did relative to others.
            </p>
        </div>

    </div>
    <div class="row start-game-buttons">

        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-lg" ng-click="titleScreen.play112th()" value="Play 112th Congress" />
        </div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-lg" ng-click="titleScreen.play113th()" value="Play 113th Congress" />
        </div>
        <div class="col-sm-3"></div>

    </div>
</div>
