
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="nav">
            <div class="row">
                <div class="navbar-form navbar-right">
                    <input type="submit" class="btn btn-primary" ng-click="game.finishGame()" value="Results" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" ng-repeat="team in game.teams">
                    <li class="team-score" ng-class="{team{{team.id}}: true}">
                        <div>{{team.name}}</div>
                        <div>{{game.scoreTeam(team.id)}}</div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="list-group col-sm-12">

            <!-- <ul class="list-group"> -->
                <li class="list-group-item" ng-repeat="event in game.timeline">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>
                                <span class="glyphicon" ng-class="game.glyphForBill(event.aid, event.action)"></span>
                                {{game.bills[event.aid].prefix}} {{game.bills[event.aid].num}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Pretend this is an awesome description with links to relevant pages of information about this bill...
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 team-score" ng-repeat="team in game.teams" ng-class="{team{{team.id}}: true}">
                        {{game.scoreEventForTeam(event, team.id);}}
                        </div>
                    </div>
                </li>
<!--             </ul> -->
        </div>
    </div>
</div>
