
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row nav">
            <div class="col-sm-3" ng-repeat="team in game.teams">
                <li class="team-header">
                    <div>{{team.name}}</div>
                    <div>{{game.calcScore(team.name)}}</div>
                </li>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="list-group col-sm-12">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bill in game.bills">
                    {{bill.prefix}} {{bill.num}} {{bill.actionId}}
                </li>
            </ul>
        </div>
    </div>
</div>
